
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    background-image: url('backgroundd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    padding: 20px;
    opacity: 0.9;
    background-color: #000000;
    z-index: 10; /* Ensure this is higher than 1 */
    position: sticky; /* Add this to make z-index work */
}

header h1 {
    font-size: 2.5rem;
    color: #ffffff;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    
    /* background-image: url('backgroundd.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav img{
    width: 40px;
    height: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main .hero {
    text-align: center;
    padding: 50px;
    /* background-color:rgb(10, 9, 9) !important; */
    color: white;
}

main .hero h2 {
    font-size: 2rem;
}

.btn {
    /* display: inline-block; */
    margin: 10px;
    padding: 10px 20px;
    background-color: #524f4f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.btn:hover {
    background-color: #6c6b6b;
    transform: scale(1.2); 
}


footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(9, 6, 0);
    color: #fff;
}


footer p a{
    text-decoration: none;
    color: white;
}

.services{
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto auto ; 
    opacity: 1;
    gap: 25px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
} 
.services::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.service-box {
    position: relative;
    z-index: 2; 
}

.services .service-box {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px  rgba(21, 20, 20, 0.37); 
    text-align: center;
    transition: transform 0.6s ease, box-shadow 0.8s ease; 
    cursor: pointer;

}

.services .service-box:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); 
}

@media (max-width: 1024px) {
    .services {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 768px) {
    .services {
        grid-template-columns: 1fr; 
    }

    /* .nav_h1{
        font-size: 10px;
    } */
}


#kinetic {
        position: relative;
        background-image: url("https://thumbs.dreamstime.com/b/kinetic-sculpture-moves-changes-shape-response-to-external-stimuli-creating-dynamic-interactive-artwork-invites-327795069.jpg");
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 8px;
    color: white;
    z-index: 1;
    text-align: center;
    min-height: 250px;
}
#kinetic:hover{
    z-index: 3;
}

#kinetic::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 8px;
    z-index: 0;
}


#kinetic h3, #kinetic p {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 10px;
}

#kinetic h3 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

#kinetic p {
    font-size: 1rem;
    line-height: 1.6;
    
}

#cast {
        position: relative;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj62pwdY7wwiDxuHppCZywD0jyaYtHI4y4kA&s");
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 8px;
    color: white;
    z-index: 1;
    text-align: center;
    min-height: 250px;
}
#cast:hover{
    z-index: 3;
}

#cast::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 8px;
    z-index: 0;
}


#cast h3, #cast p {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 10px;
}

#cast h3 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

#cast p {
    font-size: 1rem;
    line-height: 1.6;
    
}

#relief {
    position: relative;
    background-image: url("https://collectionapi.metmuseum.org/api/collection/v1/iiif/10909/32727/restricted");
background-position: center;
background-size: cover; 
background-repeat: no-repeat;
padding: 20px;
border-radius: 8px;
color: white;
z-index: 1;
text-align: center;
min-height: 250px;
}


#relief::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.7); 
border-radius: 8px;
z-index: 0;
}


#relief h3, #relief p {
position: relative;
z-index: 1;
margin: 0;
padding: 10px;
}

#relief h3 {
font-size: 1.8rem;
font-weight: bold;
margin-bottom: 10px;
}

#relief p {
font-size: 1rem;
line-height: 1.6;

}

#relief:hover{
    z-index: 3;
}



#Mannerist {
    position: relative;
    background-image: url("https://cdn.britannica.com/06/115106-050-3675715E/Centaur-Nessus-Hercules-Giambologna-Loggia-dei-Lanzi.jpg");
background-position: center;
background-size: cover; 
background-repeat: no-repeat;
padding: 20px;
border-radius: 8px;
color: white;
z-index: 1;
text-align: center;
min-height: 250px;
}


#Mannerist::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.7); 
border-radius: 8px;
z-index: 0;
}


#Mannerist h3, #Mannerist p {
position: relative;
z-index: 1;
margin: 0;
padding: 10px;
}

#Mannerist h3 {
font-size: 1.8rem;
font-weight: bold;
margin-bottom: 10px;
}

#Mannerist p {
font-size: 1rem;
line-height: 1.6;

}

#Mannerist:hover{
    z-index: 3;
}


#Modernist {
    position: relative;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQYKsC96Tbvs9ZdXoZ7SCBlqR4BO9TtS3xTQ&s");
background-position: center;
background-size: cover; 
background-repeat: no-repeat;
padding: 20px;
border-radius: 8px;
color: white;
z-index: 1;
text-align: center;
min-height: 250px;
}


#Modernist::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.7); 
border-radius: 8px;
z-index: 0;
}


#Modernist h3, #Modernist p {
position: relative;
z-index: 1;
margin: 0;
padding: 10px;
}

#Modernist h3 {
font-size: 1.8rem;
font-weight: bold;
margin-bottom: 10px;
}

#Modernist p {
font-size: 1rem;
line-height: 1.6;

}

#Modernist:hover{
    z-index: 3;
}

.service-box p{
    opacity: 0.5;

}

.service-box p:hover{
    opacity: 1;

}


.nav-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition for transform and box-shadow */
}

.nav-img:hover {
    transform: scale(1.2); /* Slightly enlarge the image */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.674); /* Add a white shadow for a glowing effect */
    opacity: 0.9; /* Slightly decrease opacity for a dimming effect */
}


.main-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav-icons {
        flex-direction: column;
        gap: 12px;
    }
}


.comments-section {
    background-color: transparent; /* Light background for the comments section */
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.comments-section h2 {
    color: #ffffff; /* Darker color for the heading */
    margin-bottom: 15px;
    font-size: 24px; /* Larger font size for emphasis */
}

.comment {
    background-color: black; /* White background for each comment */
    border-left: 5px solid #002a50; /* Left border to highlight comments */
    padding: 15px;
    margin-bottom: 15px; /* Space between comments */
    border-radius: 15px; /* Slightly rounded corners */
    color: #c4c4c4;
}

.comment p {
    /* margin-top: 10px; */
    margin: 0; /* Remove default margin */
}

.author {
    font-style: italic; /* Italic style for author */
    font-weight: bold;
    color: #888; /* Light gray for author name */
    margin-top: 20px; /* Space above author name */
    padding: 10px;
}
